<div class="outer">
  <div class="welcome"><h1>Add a New Contact</h1></div>
  <form class="form" (ngSubmit)="onSubmit()" #createArticleForm="ngForm">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
      </mat-card-header>
      <mat-card-content>
        <button mat-button color="primary">
          <mat-icon>file_upload</mat-icon>Upload an Image
        </button>
      </mat-card-content>
    </mat-card>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label><i>First Name</i></mat-label>
      <input matInput type="name" name="firstName" [(ngModel)]="newContact.firstName" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label><i>Last Name</i></mat-label>
      <input matInput type="name" name="lastName" [(ngModel)]="newContact.lastName">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label><i>E-Mail</i></mat-label>
      <input matInput type="email" name="email" [(ngModel)]="newContact.email" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label><i>Phone Number</i></mat-label>
      <input matInput type="phone" name="phone" [(ngModel)]="newContact.phone" required>
    </mat-form-field>

    <input  type="submit" name="submit"  class="addContact" value="Save Contact"/>
  </form>

</div>
